.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: transparent;
  z-index: 100;
  transform: translate3d(0, 0, 0);
  padding: calc-rem(20) 0;
  min-width: calc-rem(320);
  &.h-fixed {
    padding: calc-rem(15) 0;
  }
  &-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-menu {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    .navbar-collapse {
      margin: auto;
    }
    @include media-breakpoint-down(xl) {
      position: absolute;
      background: #4d55d4;
      left: calc-rem(-1000);
      right: 0;
      top: 0px;
      padding: calc-rem(90) calc-rem(30) calc-rem(40) calc-rem(30);
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.4s ease-in-out;
      opacity: 0;
      visibility: hidden;
      z-index: 999;
      overflow: auto;

      .navbar-collapse {
        margin-top: auto;
      }
      .navbar-nav {
        flex-direction: column;
      }
      &.active {
        transition: all 0.4s ease;
        opacity: 1;
        left: 0;
        visibility: visible;
      }
    }
    @include media-breakpoint-down(md) {
      align-items: flex-start;
    }
  }
  &-social {
    margin-top: auto;
    display: none;
    margin-bottom: calc-rem(40);
    @include media-breakpoint-down(xl) {
      padding: 0;
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }
  &-btn {
    font-size: calc-rem(16);
    padding: calc-rem(13) calc-rem(29);
    @include media-breakpoint-down(xl) {
      max-width: calc-rem(255);
      width: 100%;
      margin: auto;
    }
  }
  &.active {
    z-index: 15;
    top: -100%;
    transition: all 0.3s;
  }
  &-logo {
    z-index: 1000;
    max-width: calc-rem(150);
    img {
      width: 100%;
    }
  }
}
.h-fixed {
  position: fixed !important;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s ease;
  opacity: 1;
  background: $accent-normal;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.15);
}

//Burger
.header-burger {
  width: calc-rem(30);
  height: calc-rem(30);
  position: relative;
  transform: rotate(0deg);
  opacity: 1;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  z-index: 1000;
  display: none;
  span {
    display: block;
    position: absolute;
    height: calc-rem(4);
    width: 100%;
    background: $white;
    opacity: 1;
    right: 0;
    border-radius: calc-rem(4);
    transition: 0.2s ease-in-out;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
      max-width: 70%;
    }
    &:nth-child(3) {
      bottom: 0;
    }
  }
  @include media-breakpoint-down(xl) {
    display: block;
  }
  &.active {
    transition: 0.2s ease-in-out;
    span {
      &:nth-child(1) {
        top: 50%;
        transform: translateY(-50%);
        transform: rotate(135deg);
      }
      &:nth-child(2) {
        opacity: 0;
        right: calc-rem(60);
      }
      &:nth-child(3) {
        top: 50%;
        transform: translateY(-50%);
        transform: rotate(-135deg);
      }
    }
  }
}

// Navbar
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: center;
  justify-content: space-between; // space out brand from logo

  & > .container,
  & > .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  &-item {
  }
  &-link {
    display: block;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;

    position: relative;
    margin: 0.5rem 1.25rem;
    @include media-breakpoint-down(lg) {
      font-size: calc-rem(20);
    }
  }
}
.navbar-nav {
  & li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc-rem(2);
    max-width: 100%;
    background: transparent;
    opacity: 0;
    transform: translate3d(calc-rem(-15), 0, 0) scale3d(1, 1, 1);
    transition: all 0.5s ease-in-out;
  }

  & li a:active,
  & li a:focus,
  & li a:visited {
    color: #f2f1f1;
  }
  & li a:hover {
    opacity: 1;
    color: #f2f1f1;
  }
  & li a:hover::after {
    color: #f2f1f1;
    background: #f2f1f1;
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    border: 0;
    margin-left: 0;
  }
}

.menu-item-has-children {
  position: relative;
  &:hover {
    svg {
      transform: rotate(180deg);
      @include media-breakpoint-down(xl) {
        transform: rotate(0);
      }
    }
    .dropdown-menu {
      display: flex;
      @include media-breakpoint-down(xl) {
        display: none;
      }
    }
    a::after {
      display: none;
    }
    @include media-breakpoint-down(xl) {
      &.open {
        .dropdown-menu {
          display: flex;
        }
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
  & > a {
    @include media-breakpoint-down(xl) {
      display: flex;
      width: 100%;
      &:after {
        display: none;
      }
    }
  }
  .arrow-container {
    cursor: pointer;
    margin-left: calc-rem(10);
    width: calc-rem(15);
    height: calc-rem(15);
    @include media-breakpoint-down(xl) {
      display: flex;
      align-items: center;
      justify-content: end;
      width: calc-rem(30);
      height: calc-rem(30);
      margin-left: auto;
    }
  }
  .dropdown-menu {
    width: calc-rem(285);
    padding: calc-rem(15) 0;

    display: none;
    position: absolute;
    top: calc-rem(30);
    left: calc-rem(10);
    z-index: 10;
    flex-direction: column;

    border-radius: calc-rem(10);
    background: #565ed6;
    @include media-breakpoint-down(xl) {
      display: none;
      top: 0;
      position: relative;
      left: calc-rem(10);
      width: 100%;
      max-width: 100%;
    }
    .dropdown-item {
      width: 100%;
      color: #fff;
      text-decoration: none;
      display: inline-block;
      padding: calc-rem(6) calc-rem(15);
      &::after {
        display: none;
      }
      &:hover {
        color: $orange;
      }
    }
  }
}
